[Desktop Entry]
Version=1.0
Name=发布部署程序
# Only KDE 4 seems to use GenericName, so we reuse the KDE strings.
# From Ubuntu's language-pack-kde-XX-base packages, version 9.04-20090413.
Exec=/root/workspace/build-release_tool-Desktop_Qt_5_11_1_GCC_64bit-Debug/release.sh %U 
StartupNotify=true
Terminal=false
Icon=/opt/png/release.png
Type=Application
Categories=Network;WebBrowser;
MimeType=text/cpp;text/c;text/hpp;text/html;text/xml;application/xhtml_xml;image/webp;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ftp;

